---
export interface Props {
	title?: string;
	description?: string;
	image?: string;
	url?: string;
	pathname?: string;
}
const {
	title = 'Stackoverlove - Juha Halmu',
	description = 'Juha Halmun portfolio ja kotisivut',
	image,
	url = 'https://stackoverlove.me',
	pathname
} = Astro.props;
const imageUrl = `${url}/${image || 'default.png'}`;
const path = pathname || Astro.url.pathname;
const ogUrl = `${url}${path}`;
---

<title>{title}</title>

<meta name="description" content={description} />

<meta property="og:url" content={ogUrl} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={imageUrl} />

<meta name="twitter:site" content="@jhalmu" />
<meta name="twitter:card" content="Just Head" />
